

    <nav style="background-color : #26a69a;">
    <div class="nav-wrapper">
      <a href="home#!" class="brand-logo">MyVid</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      <li><a href="pages/about#!">About</a></li>
        <li><a href="pages/contact#!">Contact</a></li>
        <li><a href="https://wistia.com/">Wistia</a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
  <p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Videos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Wistiaid</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.description %></td>
        <td><%= video.wistiaid %></td>
        <td><%= video.title %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="waves-effect blue-grey lighten-5 btn" style="color: white;"><%= link_to 'New Video', new_video_path %></div>

